.card {
  background-color: #fff;
  width: 282px;
  height: 361px;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 282px;
  height: 282px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.card__title {
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}
