.gallery__cards {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-auto-rows: minmax(361px, auto);
  gap: 20px 17px;
}
