.header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  margin: 0 auto;
}

.header__image {
  height: 33px;
  width: 173px;
  margin: 45px 0 41px;
}

.header__border {
  border-bottom: 1px solid #545454;
  flex-grow: 1;
}
