.page {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0 200px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.content {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .page {
    padding: 0 100px;
  }
}

@media screen and (max-width: 852px) {
  .page {
    padding: 0 75px;
  }
}

@media screen and (max-width: 477px) {
  .page {
    padding: 0;
  }

  .content {
    padding: 0 19px;
  }
}
